@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}
h5 {
  background-color: hsl(171, 66%, 44%);
  background-color: hsl(233, 100%, 69%);
  background-color: hsl(210, 10%, 33%);
  background-color: hsl(201, 11%, 66%);
}

nav {
  background-image: url(./images/bg-header-desktop.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo {
  width: 130px;
  height: auto;
}
header {
  width: 42%;
  margin: auto;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header p {
  padding-top: 10px;
  font-size: 16px;
  font-weight:400;
  color: hsl(201, 11%, 66%);
}
button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin: 20px 5px;
}
#btn1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 1px 1px 2px hsl(171, 66%, 44%);
}
#btn2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 1px 1px 2px hsl(233, 100%, 69%);
}
/* --section-1-- */
.section-1{
    width: 42%;
    margin: 20px auto;
    padding: 20px;
    font-family: "Bai Jamjuree", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-1 h2{
    font-weight: 700;
    padding-top: 30px;
    color:hsl(210, 10%, 33%);
}
.section-1 p{
    padding: 10px;
    color:hsl(201, 11%, 66%);
    font-weight:400;
    font-size: 15px;
}
/* --section-2-- */
.section-2{
    width:90%;
    display: flex;
    justify-content:space-between;
    position: relative;
    right:30px;
    /* top:20px; */
    /* align-items: center; */
}
.left-section{
    width:50%;
    height: auto;
}
.right-section{
   
    margin-right: 130px;
    width:30%;
   
}
.card{
padding:30px 50px 0px 0px;
}
.card h3{
    color: hsl(210, 10%, 33%);
}
.card p{
    padding-top: 10px;
    color: hsl(201, 11%, 66%);
    font-size: 14px;
}
/* --section-3-- */
.section-3{
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  margin: auto;
  width:85%;
}
.section-head1{
  width:60%;
  padding: 60px;
  /* margin-top: 20px; */
}
.section-head1 h2{
  padding-top: 60px;
  color: hsl(210, 10%, 33%);
}
.section-head1 p{
  font-size: 15px;
  font-weight: 400;
  padding:20px;
  color: hsl(201, 11%, 66%);
}

#device{
  width:65%;
  height: auto;
}

.section-head2 h1{
  padding-top: 60px;
  color: hsl(210, 10%, 33%);
  font-size: 30px;
  font-weight: 700;
}
.section-head2 p{
  font-size: 15px;
  font-weight: 400;
  padding:20px;
  color: hsl(201, 11%, 66%);
}
/* ---section-4--- */
.preview{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.pre-card{
  width:27%;
  padding-top: 30px;
}
.pre-card h3{
  padding: 20px;
  font-weight: 700;
  color: hsl(210, 10%, 33%);
}
.pre-card p{
color: hsl(201, 11%, 66%);
font-weight: 400;
font-size: 14px;
}

/* ----logo-section---- */
.logo-sec{
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin:  auto;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.logo3{
  /* padding-top: 40px; */
width:12%;
}
.logo4{
  width:10%;
}
.bottom{
  width: 42%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* top:40px; */
}

.bottom p{
  padding-top: 10px;
  font-size: 16px;
  font-weight:400;
  color: hsl(201, 11%, 66%);
}
footer{
display: flex;
justify-content: space-around;
align-items:center ;
text-align: center;
padding:40px  30px;
background-color: hsla(200, 4%, 56%, 0.257);
}
.logo-footer{
  width:4%;
}
.list p{
  padding: 10pox;
  color: hsl(204, 4%, 45%);
}
.footer-img{
  padding: 5px;
}
@media screen and (max-width:690px){
  
  header {
    width: 90%;
    margin: auto;
   text-align: center; 
   
  }
  .logo {
    width: 80px;
  }
  header p {
    padding-top: 10px;
    font-size: 16px;
    
  }
  button {
    padding: 15px 122px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin:aut0;
  }
  .section-2{
    margin:auto;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
    right:0px;
    /* top:20px; */
    /* align-items: center; */
}
.left-section{
    width:80%;
  height: auto;
    margin: auto;
}
.right-section{
   
    margin:auto;
    width:80%;
    text-align: center;
    padding:20px 30px;
   
}
.card{
padding:30px 50px;
}
.card h3{
  font-size:30px;
    color: hsl(210, 10%, 33%);
}
.card p{
    padding-top: 10px;
    /* color: hsl(201, 11%, 66%); */
    font-size: 14px;
}
.section-1{
  width: 90%;
  margin: 50px auto;
  
}
.section-3{
  
  width:90%;
}
.section-head1{
  width:90%;
  padding: 60px;
  /* margin-topp: 20px; */
}


#device{
  width:85%;
  height: auto;
}
.preview{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.pre-card{
  width:50%;
  padding: 30px;
}
.pre-card h3{
  padding: 20px;
 font-size: 20;
}
.logo-sec{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  /* padding: 80px; */
  /* padding-bottom: 40px; */
}
.logo-sec img{
  margin:30px;
}
.logo3{
  /* padding-top: 40px; */
width:38%;
}
.logo4{
  width:35%;
}
.bottom{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
  text-align: center;
  padding:40px  30px;
  background-color: hsla(200, 4%, 56%, 0.257);
  margin-top: 20px;
  }
  .logo-footer{
    width:13%;
  }
  .list p{
    padding: 10px;
    color: hsl(204, 4%, 45%);
  }
  .footer-img{
    padding: 5px;
  }
}
@media screen and (max-width:480px){
 


.card{
padding:30px 10px;
}
.card h3{
  font-size:28px;
    color: hsl(210, 10%, 33%);
}
.card p{
    
    font-size: 15px;
}
.preview{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.pre-card{
  width:80%;
  padding: 30px;
}
.pre-card h3{
  padding: 20px;
 font-size: 27px;
}
.pre-card p{
  font-size: 17spx;
}
}
@media screen and (max-width:395px){

  .logo {
    width: 100px;
    
  }
  button {
    padding: 15px 115px;
    } 
    .right-section{
      padding:20px 10px;
    }
    .section-head1{
      
      padding: 40px;
     
    }
    .pre-card{
      padding: 15px;
    }
    .pre-card h3{
      padding-left: 0;
      padding-right: 0;
    }
    .bottom{
      width: 90%;
    }
    .bottom h1{
      padding: 0 20px;
    }
    .bottom p{
      padding: 0 40px;
    }
    .footer-img{
      padding: 10px;
    }
    .logo-footer{
      width:15%;
    }
}